<ion-header>
	<ion-title class="ion-padding">PortaOne Integration</ion-title>
</ion-header>
<ion-content class="ion-padding">
	<ion-grid style="width: 100%">
		<ion-row>
			<ion-col>
				<ion-card>
					<ion-card-header>
						<ion-card-title>Source Data</ion-card-title>
					</ion-card-header>
					<ion-card-content>
						<ion-item>
							<ion-input label="PortaOne Source Host" label-placement="floating"
								placeholder="Enter Source PortaOne Source Host"
								[(ngModel)]="portaOneSourceHost"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="PortaOne Source Login" label-placement="floating"
								placeholder="Enter Source PortaOne Login" [(ngModel)]="portaOneSourceLogin"></ion-input>
						</ion-item>
						<ion-item>
							<ion-input label="PortaOne Source Password" label-placement="floating"
								placeholder="Enter Source PortaOne Password" type="password"
								[(ngModel)]="portaOneSourcePassword"></ion-input>
						</ion-item>
					</ion-card-content>
				</ion-card>
			</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<ion-card *ngIf="portaOneSourcePassword.length > 0">
					<ion-button fill="solid" expand="block" class="dark" color="primary" (click)="getData()">Get
						Data</ion-button>
				</ion-card>
				<ion-accordion-group *ngIf="ShowResults" style="margin: 10px;;">
					<ion-accordion style="width: 100%">
						<ion-item slot="header">
							<ion-title>{{ CustomerList.length }} Customers returned</ion-title>
						</ion-item>
						<ion-item slot="content">
							<ion-card style="width: 100%">
								<ion-card-content style="width: 100%">
									<ion-accordion-group expand="inset">
										<ion-accordion *ngFor="let p of CustomerList; let i = index">
											<ion-item slot="header">
												<ion-label>{{ p.customer_data.customer_info.name}}</ion-label>
											</ion-item>
											<div slot="content">
												<ion-card>
													<ion-card-header>
														<ion-card-title>Customer Data: {{
															p.customer_data.customer_info.name }}</ion-card-title>
														<ion-card-content>
															<ion-item>
																<ion-input label="Creation Date:"
																	label-placement="floating"
																	value="{{ p.customer_data.customer_info.creation_date }}"
																	readonly="true"></ion-input>
															</ion-item>
														</ion-card-content>
													</ion-card-header>
												</ion-card>
												<ion-card>
													<ion-card-header>
														<ion-card-title *ngIf="p.customer_data.customer_accounts.length > 1">{{ p.customer_data.customer_accounts.length }} Accounts returned</ion-card-title>
														<ion-card-title *ngIf="p.customer_data.customer_accounts.length == 1">{{ p.customer_data.customer_accounts.length }} Account returned</ion-card-title>
														<ion-card-title *ngIf="p.customer_data.customer_accounts.length == 0">No Accounts returned</ion-card-title>
													</ion-card-header>
													<ion-card-content>
														<ion-item>
															<ion-accordion-group [multiple]="true" expand="inset"
																style="width: 100%">
																<ion-accordion
																	*ngFor="let a of p.customer_data.customer_accounts; let j = index"
																	style="width: 100%">
																	<ion-item slot="header">
																		<ion-label>{{ a.id }}</ion-label>
																	</ion-item>
																	<div slot="content">
																		<ion-item>
																			<ion-input label="Activation Date:"
																				label-placement="floating"
																				value="{{ a.activation_date }}"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Assigned Addons:"
																				label-placement="floating"
																				value="{{ a.assigned_addons }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Balance:"
																				label-placement="floating"
																				value="{{ a.balance }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Bill Status:"
																				label-placement="floating"
																				value="{{ a.bill_status }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Billing Model:"
																				label-placement="floating"
																				value="{{ a.billing_model }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Blocked: "
																				label-placement="floating"
																				value="{{ a.blocked }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Credit Limit: "
																				label-placement="floating"
																				value="{{ a.credit_limit }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="E-Commerce Enabled:"
																				label-placement="floating"
																				value="{{ a.ecommerce_enabled }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Expiration Date: "
																				label-placement="floating"
																				value="{{ a.expiration_date }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="H323 Password: "
																				label-placement="floating"
																				value="{{ a.h323_password }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Account ID: "
																				label-placement="floating"
																				value="{{ a.i_account }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input
																				label="Account Balance Control Type ID: "
																				label-placement="floating"
																				value="{{ a.i_account_balance_control_type }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Account Role ID: "
																				label-placement="floating"
																				value="{{ a.i_account_role }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="ACL ID: "
																				label-placement="floating"
																				value="{{ a.i_acl }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Customer ID: "
																				label-placement="floating"
																				value="{{ a.i_customer }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Language ID: "
																				label-placement="floating"
																				value="{{ a.i_lang }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Product ID: "
																				label-placement="floating"
																				value="{{ a.i_product }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Role ID: "
																				label-placement="floating"
																				value="{{ a.i_role }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Time Zone ID: "
																				label-placement="floating"
																				value="{{ a.i_time_zone }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="ID: "
																				label-placement="floating"
																				value="{{ a.id }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Date Format In: "
																				label-placement="floating"
																				value="{{ a.in_date_format }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Time Format In: "
																				label-placement="floating"
																				value="{{ a.in_time_format }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Inactivity Expiry Time: "
																				label-placement="floating"
																				value="{{ a.inactivity_expire_time }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Included Services: "
																				label-placement="floating"
																				value="{{ a.included_services }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="ISO 4217: "
																				label-placement="floating"
																				value="{{ a.iso_4217 }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Issue Date: "
																				label-placement="floating"
																				value="{{ a.issue_date }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Life Time: "
																				label-placement="floating"
																				value="{{ a.life_time }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Login: "
																				label-placement="floating"
																				value="{{ a.login }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Opening Balance: "
																				label-placement="floating"
																				value="{{ a.opening_balance }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Date Format Out: "
																				label-placement="floating"
																				value="{{ a.out_date_format }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Date Time Format Out: "
																				label-placement="floating"
																				value="{{ a.out_date_time_format }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Time Format Out: "
																				label-placement="floating"
																				value="{{ a.out_time_format }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Password: "
																				label-placement="floating"
																				value="{{ a.password }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Product Name: "
																				label-placement="floating"
																				value="{{ a.product_name }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Product Visible Name: "
																				label-placement="floating"
																				value="{{ a.product_visible_name }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Service Features: "
																				label-placement="floating"
																				value="{{ a.service_features }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="Service Flags: "
																				label-placement="floating"
																				value="{{ a.service_flags }}"
																				readonly="true"></ion-input>
																		</ion-item>
																		<ion-item>
																			<ion-input label="SIP Status: "
																				label-placement="floating"
																				value="{{ a.sip_status }}"
																				readonly="true"></ion-input>
																		</ion-item>
																	</div>
																</ion-accordion>
															</ion-accordion-group>
														</ion-item>
													</ion-card-content>
												</ion-card>
											</div>
										</ion-accordion>
									</ion-accordion-group>
								</ion-card-content>
							</ion-card>
						</ion-item>
					</ion-accordion>
				</ion-accordion-group>
				<ion-button fill="outline" expand="block" color="primary" (click)="importData()" style="margin: 10px; margin-top: 15px;;"
					*ngIf="ShowResults">Import Data</ion-button>
			</ion-col>
		</ion-row>
	</ion-grid>
</ion-content>
<!--</div>-->