<ion-header>
    <ion-buttons slot="start">
      <ion-back-button>Back</ion-back-button>
    </ion-buttons>
</ion-header>
<ion-content class="ion-padding">
  <ion-item>

    <ion-accordion-group>
      <ion-accordion *ngFor="let p of CustomerDataForImport; let i = index">
        <ion-item slot="header">
          <ion-grid>
            <ion-row>
              <ion-col><ion-checkbox>Check</ion-checkbox></ion-col>
              <ion-col><ion-label>{{ p.customer_data.customer_info.name}}</ion-label></ion-col>
            </ion-row>
          </ion-grid>
        </ion-item>
      </ion-accordion>
    </ion-accordion-group>
  </ion-item>
<!--  <ion-accordion-group>-->
<!--    <ion-accordion *ngFor="let p of CustomerDataForImport; let i = index">-->
<!--      <ion-item slot="header">-->
<!--        <ion-label>{{ p.customer_data.customer_info.name}}</ion-label>-->
<!--      </ion-item>-->
<!--      <div slot="content">-->
<!--        <ion-card>-->
<!--          <ion-card-header>-->
<!--            <ion-card-title>Customer Data: {{ p.customer_data.customer_info.name }}</ion-card-title>-->
<!--            <ion-card-content>-->
<!--              <ion-item>-->
<!--                <ion-input label="Creation Date:" label-placement="floating" value="{{ p.customer_data.customer_info.creation_date }}" readonly="true"></ion-input>-->
<!--              </ion-item>-->
<!--            </ion-card-content>-->
<!--          </ion-card-header>-->
<!--        </ion-card>-->
<!--        <ion-card>-->
<!--          <ion-card-header>-->
<!--            <ion-card-title>Accounts</ion-card-title>-->
<!--          </ion-card-header>-->
<!--          <ion-card-content>-->
<!--            <ion-item>-->
<!--              <ion-accordion-group [multiple]="true" expand="inset" style="width: 100%">-->
<!--                <ion-accordion *ngFor="let a of p.customer_data.customer_accounts; let j = index" style="width: 100%">-->
<!--                  <ion-item slot="header">-->
<!--                    <ion-label>{{ a.id }}</ion-label>-->
<!--                  </ion-item>-->
<!--                  <div slot="content">-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Activation Date:" label-placement="floating" value="{{ a.activation_date }}" [(ngModel)]="a.activation_date"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Assigned Addons:" label-placement="floating" value="{{ a.assigned_addons }}" [(ngModel)]="a.assigned_addons"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Balance:" label-placement="floating" value="{{ a.balance }}" [(ngModel)]="a.balance"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Bill Status:" label-placement="floating" value="{{ a.bill_status }}" [(ngModel)]="a.bill_status"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Billing Model:" label-placement="floating" value="{{ a.billing_model }}" [(ngModel)]="a.billing_model"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Blocked: " label-placement="floating" value="{{ a.blocked }}" [(ngModel)]="a.blocked"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Credit Limit: " label-placement="floating" value="{{ a.credit_limit }}" [(ngModel)]="a.credit_limit"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="E-Commerce Enabled:" label-placement="floating" value="{{ a.ecommerce_enabled }}" [(ngModel)]="a.ecommerce_enabled"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Expiration Date: " label-placement="floating" value="{{ a.expiration_date }}" [(ngModel)]="a.expiration_date"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="H323 Password: " label-placement="floating" value="{{ a.h323_password }}" [(ngModel)]="a.h323_password"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Account ID: " label-placement="floating" value="{{ a.i_account }}" [(ngModel)]="a.i_account"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Account Balance Control Type ID: " label-placement="floating" value="{{ a.i_account_balance_control_type }}" [(ngModel)]="a.i_account_balance_control_type"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Account Role ID: " label-placement="floating" value="{{ a.i_account_role }}" [(ngModel)]="a.i_account_role"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="ACL ID: " label-placement="floating" value="{{ a.i_acl }}" [(ngModel)]="a.i_acl"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Customer ID: " label-placement="floating" value="{{ a.i_customer }}" [(ngModel)]="a.i_customer"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Language ID: " label-placement="floating" value="{{ a.i_lang }}" [(ngModel)]="a.i_lang"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Product ID: " label-placement="floating" value="{{ a.i_product }}" [(ngModel)]="a.i_product"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Role ID: " label-placement="floating" value="{{ a.i_role }}" [(ngModel)]="a.i_role"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Time Zone ID: " label-placement="floating" value="{{ a.i_time_zone }}" [(ngModel)]="a.i_time_zone"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="ID: " label-placement="floating" value="{{ a.id }}" [(ngModel)]="a.id"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Date Format In: " label-placement="floating" value="{{ a.in_date_format }}" [(ngModel)]="a.in_date_format"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Time Format In: " label-placement="floating" value="{{ a.in_time_format }}" [(ngModel)]="a.in_time_format"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Inactivity Expiry Time: " label-placement="floating" value="{{ a.inactivity_expire_time }}" [(ngModel)]="a.inactivity_expire_time"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Included Services: " label-placement="floating" value="{{ a.included_services }}" [(ngModel)]="a.included_services"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="ISO 4217: " label-placement="floating" value="{{ a.iso_4217 }}" [(ngModel)]="a.iso_4217"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Issue Date: " label-placement="floating" value="{{ a.issue_date }}" [(ngModel)]="a.issue_date"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Life Time: " label-placement="floating" value="{{ a.life_time }}" [(ngModel)]="a.life_time"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Login: " label-placement="floating" value="{{ a.login }}" [(ngModel)]="a.login"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Opening Balance: " label-placement="floating" value="{{ a.opening_balance }}" [(ngModel)]="a.opening_balance"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Date Format Out: " label-placement="floating" value="{{ a.out_date_format }}" [(ngModel)]="a.out_date_format"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Date Time Format Out: " label-placement="floating" value="{{ a.out_date_time_format }}" [(ngModel)]="a.out_date_time_format"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Time Format Out: " label-placement="floating" value="{{ a.out_time_format }}" [(ngModel)]="a.out_time_format"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Password: " label-placement="floating" value="{{ a.password }}" [(ngModel)]="a.password"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Product Name: " label-placement="floating" value="{{ a.product_name }}" [(ngModel)]="a.product_name"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Product Visible Name: " label-placement="floating" value="{{ a.product_visible_name }}" [(ngModel)]="a.product_visible_name"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Service Features: " label-placement="floating" value="{{ a.service_features }}" [(ngModel)]="a.service_features"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Service Flags: " label-placement="floating" value="{{ a.service_flags }}" [(ngModel)]="a.service_flags"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="SIP Status: " label-placement="floating" value="{{ a.sip_status }}" [(ngModel)]="a.sip_status"></ion-input>-->
<!--                    </ion-item>-->
<!--                  </div>-->
<!--                </ion-accordion>-->
<!--              </ion-accordion-group>-->
<!--            </ion-item>-->
<!--          </ion-card-content>-->
<!--        </ion-card>-->
<!--      </div>-->
<!--    </ion-accordion>-->
<!--  </ion-accordion-group>-->
  <ion-button (click)="checkChangedData()">Check Data</ion-button>
</ion-content>

