<div class="ion-page">
  <ion-header>
    <ion-title class="ion-padding">PortaOne Integration</ion-title>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-grid style="width: 100%">
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Source Data</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-item>
                <ion-input label="PortaOne Source Host" label-placement="floating" placeholder="Enter PortaOne Source Host" [(ngModel)]="portaOneSourceHost"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="PortaOne Login" label-placement="floating" placeholder="Enter PortaOne Login" [(ngModel)]="portaOneSourceLogin"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="PortaOne Password" label-placement="floating" placeholder="Enter PortaOne Password" type="password" [(ngModel)]="portaOneSourcePassword"></ion-input>
              </ion-item>
            </ion-card-content>
          </ion-card>
        </ion-col>
<!--        <ion-col>-->
<!--          <ion-card>-->
<!--            <ion-card-header>-->
<!--              <ion-card-title>Destination Data</ion-card-title>-->
<!--            </ion-card-header>-->
<!--            <ion-card-content>-->
<!--              <ion-item>-->
<!--                <ion-input label="PortaOne Destination Host" label-placement="floating" placeholder="Enter PortaOne Destination Host" [(ngModel)]="portaOneDestinationHost"></ion-input>-->
<!--              </ion-item>-->
<!--              <ion-item>-->
<!--                <ion-input label="PortaOne Login" label-placement="floating" placeholder="Enter PortaOne Login" [(ngModel)]="portaOneDestinationLogin"></ion-input>-->
<!--              </ion-item>-->
<!--              <ion-item>-->
<!--                <ion-input label="PortaOne Password" label-placement="floating" placeholder="Enter PortaOne Password" type="password" [(ngModel)]="portaOneDestinationPassword"></ion-input>-->
<!--              </ion-item>-->
<!--            </ion-card-content>-->
<!--          </ion-card>-->
<!--        </ion-col>-->
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-card *ngIf="portaOneSourcePassword.length > 0">
            <ion-select label="Select Method" label-placement="floating" placeholder="Select option" interface="pop-over" [ngModel]="portaOneMethod" (ionChange)="portaOneMethodChange($event)">
              <ion-select-option value="getAccountList">Get Account List</ion-select-option>
            </ion-select>
            <ion-button expand="block" class="dark" color="success"  (click)="getData()">Get Data</ion-button>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Results</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              <ion-accordion-group expand="inset">
                <ion-accordion *ngFor="let p of CustomerList; let i = index" style="background-color: var(--ion-color-medium-tint)">
                  <ion-item slot="header">
                    <ion-label>{{ p.customer_data.customer_info.name}}</ion-label>
                  </ion-item>
                  <div slot="content">
<!--                    <ion-item>-->
<!--                      <ion-input label="Activation Date:" label-placement="floating" value="{{ p.activation_date }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Assigned Addons:" label-placement="floating" value="{{ p.assigned_addons }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Balance:" label-placement="floating" value="{{ p.balance }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Bill Status:" label-placement="floating" value="{{ p.bill_status }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Billing Model:" label-placement="floating" value="{{ p.billing_model }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Blocked: " label-placement="floating" value="{{ p.blocked }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Credit Limit: " label-placement="floating" value="{{ p.credit_limit }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="E-Commerce Enabled:" label-placement="floating" value="{{ p.ecommerce_enabled }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Expiration Date: " label-placement="floating" value="{{ p.expiration_date }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="H323 Password: " label-placement="floating" value="{{ p.h323_password }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Account ID: " label-placement="floating" value="{{ p.i_account }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Account Balance Control Type ID: " label-placement="floating" value="{{ p.i_account_balance_control_type }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Account Role ID: " label-placement="floating" value="{{ p.i_account_role }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="ACL ID: " label-placement="floating" value="{{ p.i_acl }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Customer ID: " label-placement="floating" value="{{ p.i_customer }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Language ID: " label-placement="floating" value="{{ p.i_lang }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Product ID: " label-placement="floating" value="{{ p.i_product }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Role ID: " label-placement="floating" value="{{ p.i_role }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Time Zone ID: " label-placement="floating" value="{{ p.i_time_zone }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="ID: " label-placement="floating" value="{{ p.id }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Date Format In: " label-placement="floating" value="{{ p.in_date_format }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Time Format In: " label-placement="floating" value="{{ p.in_time_format }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Inactivity Expiry Time: " label-placement="floating" value="{{ p.inactivity_expire_time }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Included Services: " label-placement="floating" value="{{ p.included_services }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="ISO 4217: " label-placement="floating" value="{{ p.iso_4217 }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Issue Date: " label-placement="floating" value="{{ p.issue_date }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Life Time: " label-placement="floating" value="{{ p.life_time }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Login: " label-placement="floating" value="{{ p.login }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Opening Balance: " label-placement="floating" value="{{ p.opening_balance }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Date Format Out: " label-placement="floating" value="{{ p.out_date_format }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Date Time Format Out: " label-placement="floating" value="{{ p.out_date_time_format }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Time Format Out: " label-placement="floating" value="{{ p.out_time_format }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Password: " label-placement="floating" value="{{ p.password }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Product Name: " label-placement="floating" value="{{ p.product_name }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Product Visible Name: " label-placement="floating" value="{{ p.product_visible_name }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Service Features: " label-placement="floating" value="{{ p.service_features }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="Service Flags: " label-placement="floating" value="{{ p.service_flags }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
<!--                    <ion-item>-->
<!--                      <ion-input label="SIP Status: " label-placement="floating" value="{{ p.sip_status }}" readonly="true"></ion-input>-->
<!--                    </ion-item>-->
                  </div>
                </ion-accordion>
              </ion-accordion-group>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>
</div>
